name: colabfold-server
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pip
  - jax
  - jaxlib=*=*cuda*  # ensures GPU version
  - cudatoolkit=11.8
  - ffmpeg
  - pip:
      - colabfold
      - fastapi
      - uvicorn[standard]
